.pragmatic_logo {
    font-family: 'Roboto Mono', monospace;
}

.pragmatic_footer_button {
    font-size: .7rem;
}

.pragmatic_footer {
    text-align:center;
    margin-top: 2rem;
}

.pragmatic_header {
    text-align:center;
    margin: 2rem 0;
}